* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color:cadetblue;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
}
.content {
  max-width: 900px;
  margin: 0 auto;
}
.top_section {
  margin-top: 100px;
  display:contents;
  justify-content: space-between;
  align-items: flex-end;
  position:relative;
}
.top_section h1 {
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
  color:darkgreen;
  text-transform: uppercase;
  font-size: 60px;
}
.top_section h4 {
  font-size: 20px;
  text-align:start;
  color: darkblue;
}
/* .image_container {
  border-radius: 50%;
  overflow: hidden;
}

.image_container,
img {
  width: 300px;
  height: 320px;
} */
.image_container{
  position: relative;
  margin-top: 20px;
  top: 0;
  left: 0;
}
.img1{
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
  border-radius: 20px;
}
.img2{
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 60px;
  width: 210px;
  height: 210px;
  border: 1px solid #000000;
}
.about_section {
  margin-top: 50px;
}
.about_section h2 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
  color:darkblue;
}
.about_section p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-align: justify;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.biography_section {
  margin: 50px 0;
}
.biography_section h2{
  margin-bottom: 20px;
  color:darkblue;
}
.biography_section ul {
  margin-left: 50px;
}
.biography_section li {
  margin-bottom: 15px;
  font-size: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.achivement h3{
  color:darkblue;
}
#book_details{
  margin: 20px 0;
  margin-left:50px ;
}
#book_details th,td{
  border: 1px solid black;
  padding-left: 10px;
  text-align: justify;
}
footer {
  margin: 60px 0;
}
footer p {
  text-align: end;
}

  